@model Library_Management_System.Models.Entity.Message
@{
    ViewBag.Title = "NewMessage";
    Layout = "~/Views/Shared/_LayoutMyPanel.cshtml";
}

<form class="form-group" method="post">
    <div></div>
    <div style="margin-top:15px">

    </div>
    <div>
        <label>Alıcı Mail</label>

        @Html.TextBoxFor(x => x.Buyer, new { @class = "form-control" })

    </div>
    <div>
        <label>Konu</label>

        @Html.TextBoxFor(x => x.Subject, new { @class = "form-control" })

    </div>
    <div>
        <label>İçerik</label>

        @Html.TextAreaFor(x => x.Contents, new { @class = "form-control" })

    </div>
  
    <div style="margin-top:15px">
        <button class="btn btn-info" id="Btn1">Gönder</button>
    </div>
</form>